

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


@media (min-width: 992px) {
  .flex-container {
    display: none;
  }
}

@media (max-width: 991px) {
  .flex-container {
    display: flex;
    padding-left: 10%;
    position: absolute;
    right: 75px;
  }
}

.flex-child {
  flex: 1;
} 

.flex-child-2 {
  flex: 1;
}  

/*
.flex-child:first-child {
  margin-right: 20px;
} 
*/

@media (min-width: 992px) {
  .cart {
    display: none;
  }
}
/*
.cart {
  /*display: flex;
  display: -webkit-flex;
  margin-left: 64px; 
  position: relative;
  z-index: 99;
}
*/

@media (max-width: 991px) {
  .cart {
  margin-left: 16px;
  }
}

.cart-icon {
  margin-left: 16px;
  z-index: 99;
  position: relative;
}

  @media (min-width: 992px) {
    .cart-count {
    display: none;
    }
  }

  @media (max-width: 991px) {
 .cart-count {
    display: block;
    position: absolute;
    background: #fc7710;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    top: -6px;
    right: -9px;
  }
}

.cart-preview:before {
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    z-index: 1;
}

.cart-preview:after {
    content: "";
    position: absolute;
    display: block;
    top: -7px;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 1;
  }

.cart-preview {
  display: none;
  background: #fff;
  border: 1px solid #ccc;
}

.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  top: 48px;
  right: 0px;
  width: 360px;
  height: 388px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 400px) {
    .cart-preview.active {
        top: 45px;
        width: 100%;
        min-width: 300px;  
    }

    cart-preview.active  > div {
        width: 100% !important;
    }

    .stepper-input a{
        display: none;
    }
    
    .cart-preview.active .cart-items {
  
        width: 100%;
    }
  }
 

.action-block {
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  
}

.action-block button {
    background: #fc7710;
    display: block;
    width: 100%;
    
}

.action-block:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.empty-cart {
  text-align: center;
  
  
}

.empty-cart img {
    width: 100%;
    max-width: 250px;
    margin: 42px auto 16px auto;
  }

.empty-cart  h2 {
    color: #999;
    font-size: 18px;
  }

.cart-items {
  height: 320px;
  width: 360px;
}
.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;
}

.cart-item .product-image {
    width: 48px;
    height: 48px;
}
.cart-item .product-info {
    margin-left: 16px;
    flex-grow: 1;

}

.cart-item .product-info p{ 
    margin-bottom: 0rem;

}

.cart-item .product-info .product-name {
    color: #999;
    font-size: 14px;
}

.cart-item .product-info .product-price {
    color: #999;
    font-weight: 700;
}

.cart-item .product-info .product-price:before {
    content: "$ ";
}

.cart-item .product-total {
    margin-left: 16px;
    
  }

  .cart-item .product-total p {
    margin-bottom: 0rem;
    
  }

  .cart-item .product-total  .item-quantity {
    color: #999;
    font-size: 14px;
    text-align: right;
  }
  .cart-item .product-total  .amount {
    color: #333;
    font-weight: 700;
    text-align: right;
    
  }

  .cart-item .product-total  .amount:before {
    content: "$ ";
  }
  
 .cart-item .product-remove {
    margin-left: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 22px;
    color: #ccc;
    text-align: center;
    
  }

.cart-item .product-remove:hover {
    color: #e23d3d;
    cursor: pointer;
  }

 .cart-item:hover {
    background: rgba(147, 220, 156, 0.15);
  }


@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  10%,
  20% {
    transform: scale3d(0.8, 0.66, 0.66) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.tada {
  animation-name: tada;
  animation-duration: 300ms;
  animation-fill-mode: both;
}

.greeting-container {
    display: flex;
}