
.bottom-info-container {
  /* display: flex; */
  padding: 35px 8% 15px;
  background: #efefef;
  top: -10px;
  position: relative;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
}

.left-location-info {
  margin-right: 40px;
  flex-basis: 50%
}

.left-location-info h1 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 20px;
}

.map {
  width: 100%;
  height: 300px;
}

.restaurant-info-list {
  color: #165b98;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
}

.restaurant-info-list li {
  margin: 2px 0;
}

.restaurant-info-list li:nth-of-type(3) {
  margin-bottom: 15px;
}

.restaurant-info-list li:last-of-type {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right-hours-info {
  flex-basis: 50%;
}

.right-hours-info h3 {
  margin-top: 60px;
  font-size: 17px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.60);
}

.hours-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  padding-bottom: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.60);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hours {
  text-align: right;
  margin-left: 150px;
}

.hours li {
  margin-bottom: 4px;
}

.hours li:last-of-type {
  color: rgba(0, 0, 0, 0.40);
}

.reviews-container {
  background: #efefef;
  padding-bottom: 40px;
}

.reviews-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 8% 40px;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.reviews-heading h1 {
  font-size: 24px;
  font-weight: 700;
}

.review-button {
  width: 25%;
  height: 44px;
  color: #fff;
  background: #165b98;
  border-radius: 4px;
  padding: 12px 16px;
  text-align: center;
  font-size: 14px;
}

.review-button:hover {
  box-shadow: inset 9999px 9999px rgba(0, 0, 0, 0.3);
}










#error-page {
  top: 200px;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.errors {
  color: #c90017;
  font-size: 14px;
  font-style: italic;
}

.hidden, #hidden {
  display: none;
}

.star-icon-yellow:before {
  content: "\2605";
  color: #faae1d;
  margin-right: 3px;
}

.star-icon-gray:before {
  content: "\2605";
  color: rgba(0, 0, 0, 0.2);
  margin-right: 3px;
}

.star-icon-light-gray:before {
  content: "\2605";
  color: hsla(0, 0%, 100%, 0.6);
  margin-right: 3px;
}

.star-icon-teal:before {
  content: "\2605";
  color: #165b98;
}

.star-icon-white:before {
  content: "\2605";
  color: white;
}
